
source/SpaceStation13/bin/Debug/extension.yaml
source/SpaceStation13/bin/Debug/icon.png
source/SpaceStation13/bin/Debug/Libraryname.dll
source/SpaceStation13/bin/Debug/Libraryname.pdb
source/SpaceStation13/bin/Debug/Markdig.dll
source/SpaceStation13/bin/Debug/Microsoft.WindowsAPICodePack.dll
source/SpaceStation13/bin/Debug/Microsoft.WindowsAPICodePack.Shell.dll
source/SpaceStation13/bin/Debug/Nett.dll
source/SpaceStation13/bin/Debug/Newtonsoft.Json.dll
source/SpaceStation13/bin/Debug/NLog.dll
source/SpaceStation13/bin/Debug/PathOfExile.dll
source/SpaceStation13/bin/Debug/PathOfExile.pdb
source/SpaceStation13/bin/Debug/Playnite.Common.dll
source/SpaceStation13/bin/Debug/Playnite.Common.pdb
source/SpaceStation13/bin/Debug/Playnite.SDK.pdb
source/SpaceStation13/bin/Debug/Playnite.SDK.dll
source/SpaceStation13/bin/Debug/YamlDotNet.dll
source/SpaceStation13/bin/Debug/System.IO.Abstractions.dll
source/SpaceStation13/bin/Debug/SQLite-net.dll
source/SpaceStation13/bin/Debug/SpaceStation13.pdb
source/SpaceStation13/bin/Debug/SpaceStation13.dll
source/SpaceStation13/bin/Debug/Playnite.SDK.xml
source/SpaceStation13/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
source/SpaceStation13/obj/Debug/Libraryname.csproj.AssemblyReference.cache
source/SpaceStation13/obj/Debug/Libraryname.csproj.CopyComplete
source/SpaceStation13/obj/Debug/Libraryname.csproj.CoreCompileInputs.cache
source/SpaceStation13/obj/Debug/Libraryname.csproj.FileListAbsolute.txt
source/SpaceStation13/obj/Debug/Libraryname.dll
source/SpaceStation13/obj/Debug/Libraryname.pdb
source/SpaceStation13/obj/Debug/PathOfExile.csproj.AssemblyReference.cache
source/SpaceStation13/obj/Debug/PathOfExile.csproj.CopyComplete
source/SpaceStation13/obj/Debug/PathOfExile.csproj.CoreCompileInputs.cache
source/SpaceStation13/obj/Debug/PathOfExile.csproj.FileListAbsolute.txt
source/SpaceStation13/obj/Debug/PathOfExile.dll
source/SpaceStation13/obj/Debug/PathOfExile.pdb
source/SpaceStation13/obj/Debug/SpaceStation13.csproj.AssemblyReference.cache
source/SpaceStation13/obj/Debug/SpaceStation13.csproj.CopyComplete
source/SpaceStation13/obj/Debug/SpaceStation13.csproj.CoreCompileInputs.cache
source/SpaceStation13/obj/Debug/SpaceStation13.csproj.FileListAbsolute.txt
source/SpaceStation13/obj/Debug/SpaceStation13.dll
source/SpaceStation13/obj/Debug/SpaceStation13.pdb
